<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue con Fetch</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box" id="app">
        <div class="container my-5">
            <h1 class="titulo">Vue con Fetch</h1>
            <select class="form-control" v-on:change="mostrarMunicipios()" v-model="provincia">
                <option value="">Elija una provincia</option>
                <option v-for="provincia in provincias" v-bind:value=provincia.id>{{provincia.nombre}}</option>
            </select>
            <ul class="list-group">
                <li class="list-group-item" v-for="municipio in municipios" value="municipio">{{municipio.nombre}}</li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>